<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
     <title>pbw2 - Aula02</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table" th:border="1">
     <thead>
     <tr>
          <th>Id</th>
          <th>Descrição</th>
     </tr>
     </thead>
     <tr th:each="p : ${pessoas}">
          <td th:text="${p.id}"></td>
          <td th:text="${p.nome}"></td>
          <td><a th:href="@{/pessoas/edit/{id}(id=${p.id})}">Editar</a></td>
          <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                 th:href="@{/pessoas/remove/{id}(id=${p.id})}">Excluir</a></td>
     </tr>
</table>

</body>
</html>